# <font color='blue'>Lab 4 - CCPS 844 Data Mining</font>
### <font color='red'> Answer the questions and submit a PDF file on the D2L.</font>

## Linear regression with one variable

In the first part of the exercise, we're tasked with implementing linear regression with one variable to predict profits for a food truck. Suppose you are the CEO of a restaurant franchise and are considering different cities for opening a new outlet. The chain already has trucks in various cities and you have data for profits and populations from the cities.

Let's start by importing some libraries and examining the data.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('ex1data1.txt', header=None, names=['Population', 'Profit'])
data

    Population    Profit
0       6.1101  17.59200
1       5.5277   9.13020
2       8.5186  13.66200
3       7.0032  11.85400
4       5.8598   6.82330
..         ...       ...
92      5.8707   7.20290
93      5.3054   1.98690
94      8.2934   0.14454
95     13.3940   9.05510
96      5.4369   0.61705

[97 rows x 2 columns]

In [3]:
data.describe()

       Population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000

**Q1. Create a scatter plot of 'Population' and 'Profit' to get a better idea of what the data looks like.**

First we'll create a function to compute the cost of a given solution (characterized by the parameters theta).

**Q2. Define 'Population' as x and 'Profit' as y**

**Q3. Split the data in training and testing (you can pick sizes as you like)**

**Q4. Create a linear regression object**

**Q5. Train the model using the training sets (xData,yData)**

**Q6. Print the coefficient**

**Q7. Print the Intercept**

**Q8. Predict the profit for population = [24,25,26,30] using the coefficient 
and Intercept calculated in the previous step using linear regression equation**

**Q9. Predict the profit for population = 24,25,26,30 using the predict() method**

**Q10. Calculate a scatterplot for residuals (Consult slides for the definition of Residual)**

**Q11. Analyse the residuals for the following (Consult slides for the definition of Residual)**
* **Linearity**
* **Homoscedasticity**
* **Independence**