# <font color='blue'>CCPS 844 Data Mining Module 1</font>
You can consult the following link to revise/improve your Python programming skills

https://docs.python.org/3/tutorial/index.html

Let's begin by revising 
* Basic operations
* Data Structures
* creating/using functions

In [5]:
2 **3

8

**Split a string using a delimiter**

In [6]:
x = 'blue,red,green'
x.split(",")

['blue', 'red', 'green']

**Use .format() to print a string:**

In [7]:
name = "John"
grade = "A+"

In [8]:
print("{} has {}.".format(name,grade))

John has A+.

**An alternative method to do the same using f-Strings: An Improved String Formatting Syntax**

In [9]:
print(f"{name} has {grade}.")

John has A+.

**Given a nested list, use indexing to grab "g"**

In [10]:
a = [1,[["a","b","c",],["d","e"],["f","g","h"]]]

In [11]:
a[1]

[['a', 'b', 'c'], ['d', 'e'], ['f', 'g', 'h']]

In [12]:
a[1][2]

['f', 'g', 'h']

In [13]:
a[1][2][1]

'g'

**Given a nest dictionary grab 60**

In [14]:
A = {1:{1:50,2:60,5:90},2:{7:55,10:102},4:{10:100,12:40}}

In [15]:
A[1]

{1: 50, 2: 60, 5: 90}

In [16]:
A[1][2]

60

**What is the main difference between a tuple and a list?**

In [17]:
someTuple = (1,2)
someList  = [1,2]

In [18]:
print(someTuple[0])
print(someList[0])

1
1

In [19]:
someList[0] = 3  
someList

[3, 2]

In [20]:
#immutable
#someTuple[0] = 3 
someTuple

(1, 2)

In [21]:
C = [1, 7, 8, 9, 10, 11]

In [22]:
import numpy

In [23]:
mat = numpy.reshape(C, (2,3))
mat

array([[ 1,  7,  8],
       [ 9, 10, 11]])

In [24]:
mat[[1],[2]]

array([11])

### Defining and calling a function
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.**

In [25]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [26]:
caught_speeding(81,True)

'Small Ticket'

In [27]:
caught_speeding(81,False)

'Big Ticket'

In [28]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]

**Select all elements from the list foo that are divisible by 3**

In [29]:
list(filter(lambda x: x % 3 == 0, foo))

[18, 9, 24, 12, 27]

**Multiply all Elements of list foo with 2 and add 10 to each of them**

In [30]:
list(map(lambda x: x * 2 + 10, foo))

[14, 46, 28, 54, 44, 58, 26, 34, 64]

# Learning Pandas Basics
Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

http://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

## Data Frame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
There are several ways to create a DataFrame. One way way is to use a dictionary.

In [31]:
#Importing the Pandas library
import pandas as pd

In [32]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
df = pd.DataFrame(d)
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [33]:
df.index=['d', 'c', 'b', 'a']
df

   one  two
d  1.0  4.0
c  2.0  3.0
b  3.0  2.0
a  4.0  1.0

**Control the sequence of columns by using the Columns argument**

In [34]:
df1 = pd.DataFrame(d, index=['d', 'c', 'b', 'a'], columns=['two', 'one'])
#we have changed the sequence of columns
df1

   two  one
d  4.0  1.0
c  3.0  2.0
b  2.0  3.0
a  1.0  4.0

**Rename Data Frame columns**

In [35]:
df1.columns = ['Column 1', 'Column 2']
df1

   Column 1  Column 2
d       4.0       1.0
c       3.0       2.0
b       2.0       3.0
a       1.0       4.0

**Select the row indexed with b**

In [36]:
df1.loc[['b']]

   Column 1  Column 2
b       2.0       3.0

**Reading Dataframe from a CSV file**

In [37]:
cars = pd.read_csv('cars.csv')
cars

FileNotFoundError: [Errno 2] No such file or directory: 'cars.csv'

**Reading a CSV file and setting the first column as index**

In [ ]:
cars1 = pd.read_csv('cars.csv', index_col = 0)
cars1

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
cars[0:4]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [ ]:
cars1[0:4]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1

In [ ]:
cars[4:6]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.44,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.46,20.22,1,0,3,1

In [ ]:
cars1[4:6]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet Sportabout,18.7,8,360.0,175,3.15,3.44,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.46,20.22,1,0,3,1

In [ ]:
cars1.iloc[2]

mpg      22.80
cyl       4.00
disp    108.00
hp       93.00
drat      3.85
wt        2.32
qsec     18.61
vs        1.00
am        1.00
gear      4.00
carb      1.00
Name: Datsun 710, dtype: float64

In [ ]:
cars1.loc[['Ferrari Dino', 'Merc 230']]

               mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
Merc 230      22.8    4  140.8   95  3.92  3.15  22.9   1   0     4     2

In [ ]:
cars[['mpg','cyl','wt']].head()

    mpg  cyl     wt
0  21.0    6  2.620
1  21.0    6  2.875
2  22.8    4  2.320
3  21.4    6  3.215
4  18.7    8  3.440

In [ ]:
cars1[['mpg','cyl','wt']].head()

                    mpg  cyl     wt
Mazda RX4          21.0    6  2.620
Mazda RX4 Wag      21.0    6  2.875
Datsun 710         22.8    4  2.320
Hornet 4 Drive     21.4    6  3.215
Hornet Sportabout  18.7    8  3.440

In [ ]:
cars1[['drat','wt','qsec']].sample(3)

                  drat     wt   qsec
Duster 360        3.21  3.570  15.84
Pontiac Firebird  3.08  3.845  17.05
Lotus Europa      3.77  1.513  16.90

In [ ]:
cars1[['disp','hp','drat']].tail(3)

                disp   hp  drat
Ferrari Dino   145.0  175  3.62
Maserati Bora  301.0  335  3.54
Volvo 142E     121.0  109  4.11

**Query the columns of a frame with a boolean expression.**

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html

In [ ]:
cars1.query('cyl >= 6 and (hp == 110 or hp == 180 )')

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Merc 450SE      16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
Merc 450SL      17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
Merc 450SLC     15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3

In [ ]:
cars1[(cars1.cyl >=6) & ((cars1.hp ==110)|(cars1.hp ==180))]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Merc 450SE      16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
Merc 450SL      17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
Merc 450SLC     15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3

In [ ]:
cylEqualTo6 = cars1.cyl ==6

In [ ]:
cars1[cylEqualTo6]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Valiant         18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
Merc 280        19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
Merc 280C       17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6

In [ ]:
import requests

In [ ]:
html = requests.get("https://www.torontomu.ca/index.html/")

In [ ]:
html.content

b'<!DOCTYPE html>\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<html lang="en">\r\n<head>\r\n    <link rel="icon" href="/content/dam/tmu_favicon.ico" type="image/x-icon"/>\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    <meta charset="UTF-8">\r\n    <meta http-equiv="X-UA-Compatible" content="IE=edge">\r\n    <meta name="viewport" content="width=device-width, initial-scale=1">\r\n    <meta http-equiv="content-type" content="text/html; charset=UTF-8">\r\n\r\n    <meta property="og:type" content="website">\r\n    <meta property="og:site_name" content="Toronto Metropolitan University">\r\n    <meta property="og:url" content="https://www.torontomu.ca/index/">\r\n    \r\n    <meta property="og:title" content="Toronto Metropolitan University Home">\r\n    \r\n    \r\n    <meta property="og:description" content="Toronto Metropolitan University is located in the heart of Canada\'s largest city. Its distinctly urban campus features a culture that\'s innovative and entrepreneurial and a community that\'s welcoming and inclusive.">\r\n    \r\n    \r\n    <meta property="og:image" content="https://www.torontomu.ca/content/dam/news-events/news/2017/03/ryerson-quad-lto.jpg">\r\n    \r\n    <meta name="twitter:card" content="summary_large_image">\r\n    <meta name="twitter:url" value="https://www.torontomu.ca/index/">\r\n    \r\n    <meta name="twitter:site" content="@TorontoMet">\r\n    \r\n    \r\n    <meta name="twitter:title" content="Toronto Metropolitan University Home">\r\n    \r\n    \r\n    <meta name="twitter:description" content="Toronto Metropolitan University is located in the heart of Canada\'s largest city. Its distinctly urban campus features a culture that\'s innovative and entrepreneurial and a community that\'s welcoming and inclusive.">\r\n    \r\n    \r\n    <meta name="twitter:image" content="https://www.torontomu.ca/content/dam/news-events/news/2017/03/ryerson-quad-lto.jpg">\r\n    \r\n\r\n    <title>Toronto Metropolitan University Home - Toronto Metropolitan University\r\n    </title>\r\n    \r\n    \r\n    <meta name="description" content="Toronto Metropolitan University is located in the heart of Canada\'s largest city. Its distinctly urban campus features a culture that\'s innovative and entrepreneurial and a community that\'s welcoming and inclusive.">\r\n    \r\n    <meta name="msvalidate.01" content="BE317D2A394B67B73CDA358D1ABADA23" />\n<meta name="p:domain_verify" content="f6d3d6a9b5967912e5ac7af547eb89db"/>\n<meta name="google-site-verification" content="hFoSJefbbE-j3tER-L9W1IaY7P2Nz6uAo8n4QEErE5g" />\n<meta name="facebook-domain-verification" content="4yhkpm5e8yw5z24uwfcbri53uul00p" />\n\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    <!-- Page-hiding snippet starts --> \n<style>.async-hide { opacity: 0 !important} </style>\n<script>(function(a,s,y,n,c,h,i,d,e){s.className+=\' \'+y;h.start=1*new Date;\nh.end=i=function(){s.className=s.className.replace(RegExp(\' ?\'+y),\'\')};\n(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;\n})(window,document.documentElement,\'async-hide\',\'dataLayer\',4000,\n{\'GTM-WTQJF65\':true});</script>\n<!-- Page-hiding snippet ends --> \n\n<!-- Modified GA tracking script starts --> \n<script>\n(function(i,s,o,g,r,a,m){i[\'GoogleAnalyticsObject\']=r;i[r]=i[r]||function(){\n(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\nm=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n})(window,document,\'script\',\'https://www.google-analytics.com/analytics.js\',\'ga\');\nga(\'create\', \'UA-8117641-1\', \'auto\', {allowLinker: true});\nga(\'require\', \'GTM-WTQJF65\'); \n</script>\n<!-- Modified GA tracking script ends-->\n\n<!-- Google Tag Manager -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\n\'https://www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,\'script\',\'dataLayer\',\'GTM-MJMHPZ\');</script>\n<!-- End Google Tag Manager -->\r\n    \r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<script>\r\nvar cqMode = "DISABLED";\r\nvar cqTemplate = "homepageMain";\r\nvar runMode = "publish"; \r\n</script>\r\n<script src="https://code.jquery.com/jquery-3.6.3.min.js"/></script>\r\n\r\n\r\n    \r\n\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n</head>\r\n<body>\r\n    \r\n<link rel="stylesheet" href="/etc.clientlibs/ryecms/static/clientlib-all.73f5f5c76cf942f24d5e797d15b82d02.css" type="text/css">\n<script src="/etc.clientlibs/ryecms/static/clientlib-all.2bdef7042c56e313034b89b07fa6ce56.js"></script>\n\r\n    \r\n    \r\n<link rel="stylesheet" href="/rye-api/color.default.004C9B.004C9B.css" type="text/css">\r\n    \r\n    \r\n<script src="/etc.clientlibs/ryecms/static/customStyles/default.d41d8cd98f00b204e9800998ecf8427e.js"></script>\n\r\n    \r\n<!-- red -->\r\n<div id="AppArmorAlertID_76"></div>\r\n<script type="text/javascript" src="//torontomu.apparmor.com/Notifications/Feeds/Javascript/?AlertID=76" async></script>\r\n\r\n<!-- yellow -->\r\n<div id="AppArmorAlertID_77"></div>\r\n<script type="text/javascript" src="//torontomu.apparmor.com/Notifications/Feeds/Javascript/?AlertID=77" async></script>\r\n\r\n<!-- system -->\r\n<div id="systemAlert"></div>\r\n\r\n<!-- Google Tag Manager (noscript) -->\r\n<noscript>\r\n    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJMHPZ"\r\n            height="0" width="0" style="display:none;visibility:hidden"></iframe>\r\n</noscript>\r\n<!-- End Google Tag Manager (noscript) -->\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    \r\n    \r\n<div class="resGlobalHeader">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<div class="global-header-top">\r\n\t<div class="container">\r\n\t\t<div class="row">\r\n\t\t\t<div class="col-xs-12">\r\n\t\t\t\t<div class="res-global-header">\r\n\t\t\t\t\t<a id="skip-to-main" class="btn btn-default" href="#main-content">Skip to Main Content</a>\r\n\t\t\t\t\t<nav aria-label="global"\r\n\t\t\t\t\t\tclass="navbar navbar-default">\r\n\t\t\t\t\t\t<div class="container-fluid">\r\n\t\t\t\t\t\t\t<div class="navbar-header">\r\n\t\t\t\t\t\t\t\t<a class="navbar-brand" href="https://www.torontomu.ca/"> <img src="/etc.clientlibs/ryecms/static/clientlib-site/resources/images/tmu_logo.svg" alt="Toronto Metropolitan University" title="Toronto Metropolitan University">\r\n\t\t\t\t\t\t\t\t</a>\r\n\t\t\t\t\t\t\t\t<button id="gh-other-btn" type="button"\r\n\t\t\t\t\t\t\t\t\tclass="navbar-toggle collapsed" data-toggle="collapse"\r\n\t\t\t\t\t\t\t\t\tdata-target="#gh-other-content" aria-expanded="false">\r\n\t\t\t\t\t\t\t\t\t<span class="sr-only">Toggle navigation</span> <span\r\n\t\t\t\t\t\t\t\t\t\tclass="fa fa-bars"></span>\r\n\t\t\t\t\t\t\t\t</button>\r\n\t\t\t\t\t\t\t\t<button id="gh-info-btn" type="button"\r\n\t\t\t\t\t\t\t\t\tclass="navbar-toggle collapsed" data-toggle="collapse"\r\n\t\t\t\t\t\t\t\t\tdata-target="#gh-info-content" aria-expanded="false">\r\n\t\t\t\t\t\t\t\t\t<span class="sr-only">Toggle information</span> <span\r\n\t\t\t\t\t\t\t\t\t\tclass="fa fa-info-circle"></span>\r\n\t\t\t\t\t\t\t\t</button>\r\n\t\t\t\t\t\t\t\t<button id="gh-search-btn" type="button"\r\n\t\t\t\t\t\t\t\t\tclass="navbar-toggle collapsed" data-toggle="collapse"\r\n\t\t\t\t\t\t\t\t\tdata-target="#gh-search-content" aria-expanded="false">\r\n\t\t\t\t\t\t\t\t\t<span class="sr-only">Toggle search</span> <span\r\n\t\t\t\t\t\t\t\t\t\tclass="fa fa-search"></span>\r\n\t\t\t\t\t\t\t\t</button>\r\n\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t<div class="navbar-content">\r\n\t\t\t\t\t\t\t\t<form role="search" id="gh-search-content" class="resSearch nav navbar-nav collapse navbar-collapse navbar-form" method="GET" action="https://www.torontomu.ca/search/">\r\n\t\t\t\t\t\t\t\t\t<div class="input-group gh-search-container">\r\n\t\t\t\t\t\t\t\t\t\t<label for="search" class="sr-only">Search Site and People</label>\r\n\t\t\t\t\t\t\t\t\t\t<input id="search" name="q" type="text" class="form-control" placeholder="Search Site and People" autocomplete="off">\r\n\t\t\t\t\t\t\t\t\t\t<span class="input-group-btn">\r\n\t\t\t\t\t\t\t\t\t\t\t<button aria-label="Search" class="btn btn-default"\r\n\t\t\t\t\t\t\t\t\t\t\t\ttype="submit">\r\n\t\t\t\t\t\t\t\t\t\t\t\t<i class="fa fa-search" title="Search Torontomu.ca"></i>\r\n\t\t\t\t\t\t\t\t\t\t\t</button>\r\n\t\t\t\t\t\t\t\t\t\t</span>\r\n\t\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t\t</form>\r\n\t\t\t\t\t\t\t\t<div class="navbar-right">\r\n\t\t\t\t\t\t\t\t\t<ul id="gh-info-content"\r\n\t\t\t\t\t\t\t\t\t\tclass="nav navbar-nav collapse navbar-collapse navbar-left" role="presentation">\r\n\t\t\t\t\t\t\t\t\t\t<li class="dropdown hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span\r\n\t\t\t\t\t\t\t\t\t\t\t\tclass="fa fa-info-circle"></span><span class="hidden-sm">\r\n\t\t\t\t\t\t\t\t\t\t\t\t\tInfo for <span class="caret"></span>\r\n\t\t\t\t\t\t\t\t\t\t\t</span>\r\n\t\t\t\t\t\t\t\t\t\t</a>\r\n\t\t\t\t\t\t\t\t\t\t\t<ul class="dropdown-menu">\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/future-students/">Future Students</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/current-students/">Current Students</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/faculty-staff/">Faculty and Staff</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/teachers-counsellors/">Teachers and\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tCounsellors</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/alumni/">Alumni</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/media/">Media</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/giving/">Donors</a></li>\r\n\t\t\t\t\t\t\t\t\t\t\t</ul></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/future-students/">Future\r\n\t\t\t\t\t\t\t\t\t\t\t\tStudents</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/current-students/">Current\r\n\t\t\t\t\t\t\t\t\t\t\t\tStudents</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/faculty-staff/">Faculty\r\n\t\t\t\t\t\t\t\t\t\t\t\tand Staff</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/teachers-counsellors/">Teachers\r\n\t\t\t\t\t\t\t\t\t\t\t\tand Counsellors</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/alumni/">Alumni</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/media/">Media</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/giving/">Donors</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t\t\t\t\t\t\t<ul id="gh-other-content"\r\n\t\t\t\t\t\t\t\t\t\tclass="nav navbar-nav collapse navbar-collapse navbar-left">\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/about/">About</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/programs/">Programs</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/admissions/">Admissions</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/campus-life/">Campus\r\n\t\t\t\t\t\t\t\t\t\t\t\tLife</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/research/">Research & Innovation</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="visible-xs"><a href="/equity/">Equity & Community Inclusion</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="divider visible-xs"></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="call-to-action"><a href="/admissions/">Apply</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="call-to-action"><a href="/admissions/visits-tours/">Visit</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="call-to-action"><a href="/giving/">Give</a></li>\r\n\t\t\t\t\t\t\t\t\t\t<li class="divider"></li>\r\n\t\t\t\t\t\t\t\t\t\t<li><a href="https://my.torontomu.ca/">my.torontomu</a></li>\r\n\t\t\t\t\t\t\t\t\t</ul>\r\n\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t</nav>\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</div>\r\n</div>\r\n\r\n\r\n\t<div class="global-header-bottom">\r\n\t\t<div class="container">\r\n\t\t\t<div class="row hidden-xs">\r\n\t\t\t\t<div class="col-xs-12">\r\n\t\t\t\t\t<nav aria-label="primary" class="res-global-header">\r\n\t\t\t\t\t\t<div class="gh-horizontal-nav">\r\n\t\t\t\t\t\t\t<ul class="list-inline">\r\n\t\t\t\t\t\t\t\t<li><a href="/about/">About</a></li>\r\n\t\t\t\t\t\t\t\t<li><a href="/programs/">Programs</a></li>\r\n\t\t\t\t\t\t\t\t<li><a href="/admissions/">Admissions</a></li>\r\n\t\t\t\t\t\t\t\t<li><a href="/campus-life/">Campus Life</a></li>\r\n\t\t\t\t\t\t\t\t<li><a href="/research/">Research & Innovation</a></li>\r\n\t\t\t\t\t\t\t\t<li><a href="/equity/">Equity & Community Inclusion</a></li>\r\n\t\t\t\t\t\t\t</ul>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t</nav>\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</div>\r\n\r\n</div>\n\r\n    \r\n    \r\n    \r\n    \r\n    \r\n\r\n    \r\n<div class="homepageSlideshow resSlideshow">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n<div class="res-slideshow">\r\n    \r\n        <div class="contentwide">\r\n            \r\n                <div class="container">\r\n                    <div class="row template-slideshow">\r\n                        <div class="col-xs-12">\r\n            \r\n            <div id="50db8b57-31e9-4f65-8b2e-c61b65541a28" class="carousel slide"  >\r\n            \r\n                <div class="carousel-inner">\r\n                    \r\n                    <div class="item active"  id="50db8b57-31e9-4f65-8b2e-c61b65541a28-tab-0">\r\n                        <img src="/content/dam/images/homepage-pma/2023/ovpri-annoucement.jpg" alt="a busy Gould street full of students at golden hour">\r\n                        \r\n                        <div class="carousel-caption with-text">\r\n                            \r\n                            <p class="carousel-main-text"><a href="/content/ryerson/research/news-events/2023/04/toronto-metropolitan-university-awarded--98-6-million-in-funding/">TMU awarded $98.6M to lead innovative migration and immigration research</a></p>\r\n                            \r\n                            \r\n                            \r\n                            \r\n                            \r\n                            <a class="btn btn-default hidden-xs" href="/content/ryerson/research/news-events/2023/04/toronto-metropolitan-university-awarded--98-6-million-in-funding/" aria-hidden="true">Find out more</a>\r\n                            \r\n                        </div>\r\n                        \r\n                    </div>\r\n                    \r\n                </div>\r\n                \r\n            </div> \r\n            \r\n                        </div>\r\n                    </div>\r\n                </div>\r\n            \r\n        </div>\r\n    \r\n    \r\n</div>\r\n<script>\r\n    $(document).ready(function(){\r\n    \t\r\n        $("#50db8b57-31e9-4f65-8b2e-c61b65541a28-play, #50db8b57-31e9-4f65-8b2e-c61b65541a28-pause").click(function() {\r\n            if ($(this).attr("id") == "50db8b57-31e9-4f65-8b2e-c61b65541a28-play") {\r\n                $(\'#50db8b57-31e9-4f65-8b2e-c61b65541a28\').carousel(\'cycle\');\r\n                $(this).attr("id", "50db8b57-31e9-4f65-8b2e-c61b65541a28-pause");\r\n                $("#50db8b57-31e9-4f65-8b2e-c61b65541a28-pause i").attr("class", "fa fa-pause");\r\n            } else {\r\n                $(\'#50db8b57-31e9-4f65-8b2e-c61b65541a28\').carousel(\'pause\');\r\n                $(this).attr("id", "50db8b57-31e9-4f65-8b2e-c61b65541a28-play");\r\n                $("#50db8b57-31e9-4f65-8b2e-c61b65541a28-play i").attr("class", "fa fa-play");\r\n            }\r\n        });\r\n        \r\n        \t\t$(\'#50db8b57-31e9-4f65-8b2e-c61b65541a28\').carousel(\'cycle\');\r\n        \t\r\n    });\r\n</script>\r\n</div>\n\r\n    \r\n<div class="container">\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    <div class="row template-content">\r\n            \r\n            \r\n        <main id="mainContent"\r\n              class="content-area-section col-md-12 col-sm-12">\r\n            <div class="sr-only" id="main-content" tabindex="-1">You are now in the main content area</div>\r\n                \r\n            <div class="beforeContent stackparsys">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n</div>\n\r\n                \r\n                \r\n            <div class="resPageHeading heading"><h1 class="headingHidden">Toronto Metropolitan University Home\r\n            </h1></div>\r\n\r\n<div class="content stackparsys">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\t\t\t\r\n\t\t\t\t<div class="resButtons section">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n    \r\n<div class="res-buttons">\r\n    \r\n        <div class="buttonTransition">\r\n            <div class="row">\r\n            <div class="row-height">\r\n                \r\n\r\n                    <div class="col col-xs-12 col-sm-12 outside-full-height">\r\n                        <div class="inside inside-full-height">\r\n\t                        <a class="btn btn-default btn-block" href="/covid-19/">\r\n\t                        \t\r\n\t                            <span>COVID-19 updates and resources for students, faculty and staff</span>\r\n\t                        \t\r\n\t                        </a>\r\n                        </div>\r\n                    </div>\r\n                \r\n                \r\n                \r\n            </div>\r\n            </div>\r\n        </div>\r\n    \r\n    \r\n</div>\r\n\r\n</div>\n\r\n\t\t\t\t\r\n\r\n\t\t\t\t\r\n\t\t\t\t<div class="resTitle section">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<h2>\r\n\t\r\n    Future Students\r\n    \r\n\t\r\n</h2>\r\n\r\n\r\n</div>\n\r\n\t\t\t\t\r\n\r\n\t\t\t\t\r\n\t\t\t\t<div class="resButtons section">\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n    \r\n<div class="res-buttons">\r\n    \r\n        <div class="buttonDefault">\r\n            <div class="row">\r\n            <div class="row-height">\r\n                \r\n\r\n                    <div class="col col-xs-12 col-sm-3 outside-full-height">\r\n                        <div class="inside inside-full-height">\r\n\t                        <a class="btn btn-default btn-block" href="/programs/undergraduate/">\r\n\t                        \t\r\n\t                            <span>Undergraduate Programs</span>\r\n\t                        \t\r\n\t                        </a>\r\n                        </div>\r\n                    </div>\r\n                \r\n                \r\n                \r\n\r\n                    <div class="col col-xs-12 col-sm-3 outside-full-height">\r\n                        <div class="inside inside-full-height">\r\n\t                        <a class="btn btn-default btn-block" href="/graduate/programs/">\r\n\t                        \t\r\n\t                            <span>Graduate Programs</span>\r\n\t                        \t\r\n\t                        </a>\r\n                        </div>\r\n                    </div>\r\n                \r\n                \r\n                \r\n\r\n                    <div class="col col-xs-12 col-sm-3 outside-full-height">\r\n                        <div class="inside inside-full-height">\r\n\t                        <a class="btn btn-default btn-block" href="/admissions/undergraduate/international/">\r\n\t                        \t\r\n\t                            <span>International Applicants</span>\r\n\t                        \t\r\n\t                        </a>\r\n            

**© Dr. Muhammad Naeem Irfan. Can't be posted on the internet**